/* .header {
  margin-top: 126px;
  flex-direction: column;
}

.home1 {
  background-color: green;
  width: 1128px;
  height: 192px;
  padding: 20px;
} 

.swipper {
  background-color: red;
  width: 100%;
  height: 100%;

}

.home2 {
  border: 1px solid red;
  margin-top: 40px;
  padding: 0 0 0 30px;
  display: flex;
}

.description-DEX {
  width: 569px;
  height: 648px;
  display: flex;
  align-items: center;
}*/



h2 {
  font-size: var(--font-size-xxxl);
  color: var(--color-text);
  line-height: 97px;
  font-weight: var(--font-weigth-lg);
}

#favourite {
  color: #7645d9;
}

.DEX-description p {
  font-size: var(--font-size-lg);
  line-height: 26px;
  font-weight: 600;
  color: var(--color-text-subz);
  color: var(--color-text-sub);
}

.DEX-buttons button {
  height: var(--button-height-lg);
} 


 #connetti {
  margin-right: 8px;
}

  
.home3 {
  width: 100%;
  height: 496px;
  padding: 48px 0;
}

.home3-internal {
  width: 1200px;
  height: 400px;
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home3-title:first-child {
  margin-bottom: 4px;
}

.home3-title:nth-child(2) {
  margin-bottom: 48px;
}

.home3-title {
  font-weight: 600;
  font-size: var(--font-size-xl);
  line-height: 35px;
  color: var(--color-text);
}


.home3-totals {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 87px;
  justify-content: space-around;
  margin-bottom: 48px;
}
//////////
.total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-name {
  color: var(--color-text);
  font-size: var(--font-size-md);
  text-align: center;
  font-weight: 600;
  line-height: 120%;
}

.total-number {
  color: #7645d9;
  line-height: 110%;
  text-align: center;
  font-weight: 600;
  font-size: var(--font-size-xxl);
}

.total-days {
  color: var(--color-text-sub);
  font-size: var(--font-size-sm);
  text-align: center;
  font-weight: 600;
  line-height: 120%;
}

.home3-swiping {
  width: 1063px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
}













.flyBunny {
  width: 569px;
  height: 648px;
}


/* @media (max-width:1200px){

  .header{
    width: 50px;
  }*/