
  .connect_wallet_appear {
    
    animation: 0.4s ease-out 0s 1 connect_wallet_appear forwards;
    display: block;
  }
  
  #darkmode-toggle-nav:checked + label #svg_moon {
        fill: #a881fc;
    }
    #darkmode-toggle-nav:checked + label #svg_sun {
        fill: #27262c;
    }
    #darkmode-toggle-nav:checked + .darkmode-label::after {
        left: calc(100% - 28.5px);
        background-color: #27262c;
    }
    .darkmode-label:hover::after {
        box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
    }

    #a-toggle-nav:checked + .a-label::after {
        left: calc(100% - 28.5px);
         box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
    }
    #a-toggle-nav:checked + .a-label {
        background: #31d0aa;
    }
    .a-label:hover::after {
        box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
    }

    #b-toggle-nav:checked + .b-label::after {
        left: calc(100% - 28.5px);
         box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
    }
    #b-toggle-nav:checked + .b-label {
        background: #31d0aa;
    }
    .b-label:hover::after {
        box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
    }

    #c-toggle-nav:checked + .c-label::after {
        left: calc(100% - 28.5px);
         box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
    }
    #c-toggle-nav:checked + .c-label {
        background: #31d0aa;
    }
    .c-label:hover::after {
        box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
    }

    #d-toggle-nav:checked + .d-label::after {
        left: calc(100% - 28.5px);
         box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
    }
    #d-toggle-nav:checked + .d-label {
        background: #31d0aa;
    }
    .d-label:hover::after {
        box-shadow: 0px 0px 0px 1px #7645d9, 0px 0px 0px 4px rgba(118, 69, 217, 0.6);
    }