sdafe {
    color: #7d4ed2;
    color: #27262c;
    color: #1fc7d4ff;
    color: #a8a1c8;
    color: #353547;
    color: #faf9fa;
    color: #ffffff;
    color: #280d5f;
    color: #7a6eaa;
    color: #6ddbe3;
    color: #08060b;
    color: #eef4ff;
    color: #228f99;
}